/*Provides the background color for the body of the htmls*/
body {
    background-color: #d9dcd6;
}

.navbar {
    background-color: steelblue;
} 

.img-fluid{
        width: 50%;
}

.navbar-toggler-icon {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    font-size: larger;
}

/* Formatting for all of the pages */

h1 {
    display: inline-block;
    font-size: 100%;
    font-family: 'Cinzel Decorative', cursive;
    color: #ffffff;
}

h2 {
    font-size: 35px;
    color: black;
    font-family: 'Courier New';
}

h3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black; 
}
h4 {
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
}
h6{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.img-fluid {
    width: 100%;
    max-width: 400px;
}
            /*Provides background color for the different columns in the index page*/
                .aboutMe {
                 background-color:silver;
                 box-shadow: 0 0 5px}
                .Education {
                    background-color:silver;
                    padding-top: 2%;
                    padding-left: 2%;
                    margin-bottom: 2%;
                    box-shadow: 0 0 5px
                }
                .indent {
                    text-indent: 4%;
                }
                .skills {
                    background-color:silver;
                    padding-left: 2%;
                    padding-right: 2%;
                    box-shadow: 0 0 5px
                }
                #titleSkills {
                    margin-right: 5%;
                }
                .europe {
                    background-color: silver;
                    box-shadow: 0 0 5px
                }

                .frazierGroup {
                    background-color: silver;
                    box-shadow: 0 0 5px
                }

                .KBH {
                    background-color: silver;
                    box-shadow: 0 0 5px
                }

/*Formatting solely for the portfolio page*/
.portfolioContainer {
    margin-bottom: 5%;
    box-shadow: 0 0 10px; 
    background-color: silver;
}

.card {
    margin-bottom: 5%;
    box-shadow: 0 0 5px; 
}
.card-img-top {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactContainer{ 
    box-shadow: 0 0 10px;
    background-color: silver;
}

.contactInfo {
    text-align: center;
    color: black;
}


.navFont {
    font-size: 16px;
}



.footer-copyright {
    border-top: #d9dcd6;
    border-top-width: 1%;
    background-color: steelblue;
    color:  black
}

.copyrightLink {
    color: black
}


/*Provides formatting for the three htmls that overrides bootstrap*/
@media screen and (max-width: 700px) {
    .nav-bar {
       padding: 0;
        width: 640px;
        position: absolute;
    } 
    .container {
         width: 100%;
    }
        
}